.row.text-center
  .columns
    h2.margin-bottom Your balance is: #{locals.totalBalance}
.row
  .columns
    table.responsive.centered.margin-bottom
      thead
        tr
          th Who to
          th How Much
          th Last updated
      tbody
