.row.text-center
  .columns
    a.button(href='/transfers/new',data-navigate='') New Transfer
    a.button(href="/account_numbers", data-navigate='') Account Numbers
.balances
.debts
.row.text-center
  .columns
    h2.margin-bottom Received Transfers
.received-transfers
.row.text-center
  .columns
    h2.margin-bottom Submitted Transfers
.submitted-transfers
