div
  a.button(href='/transfers/new',data-navigate='') New Transfer
  a.button(href="/account_numbers", data-navigate='') Account Numbers
.balances
.debts
h2.margin-bottom Received Transfers
.received-transfers
h2.margin-bottom Submitted Transfers
.submitted-transfers
