nav.top-bar(role="navigation", data-topbar='')
  ul.title-area
    li.name
      h1
        a(href="/dashboard", data-navigate) code quest Manager
    li.toggle-topbar.menu-icon
      a(href="#")
        span
  section.top-bar-section
    ul.right
      li.balance-label
        a.unhanded(href="#") #{total_balance} PLN
      li
        a(href="/dashboard", data-navigate) Dashboard
      li.has-dropdown
        a(href="#") Finances (#{pending_transfers_count})
        ul.dropdown
          li
            a(href="/balances", data-navigate) Balances
          li
            a(href="/transfers", data-navigate) Transfers (#{pending_transfers_count})
          li
            a(href='/transfers/new',data-navigate) New Transfer
          li
            a(href="/account_numbers", data-navigate) Account Numbers
      li
        a(href="/settings", data-navigate) Settings
      li
        a(href=gon.destroy_user_session,data-method="delete") Sign Out
