db:
  image: postgres:9.4.1

redis:
  image: redis:3.0.5

mailcatcher:
  image: schickling/mailcatcher
  ports:
    - "1080:1080"

bundle:
  image: busybox
  volumes:
    - /bundle

sidekiq: &sidekiq
  build: .
  command: bundle exec sidekiq -q mailers -c 1
  env_file: .env
  links:
    - db
    - mailcatcher
    - redis
  volumes_from:
    - bundle
  volumes:
    - .:/lunchiatto

web:
  <<: *sidekiq
  command: bundle exec puma -C config/puma.rb
  ports:
    - "3000:3000"
  links:
    - db
    - mailcatcher
    - redis
  volumes_from:
    - bundle
  volumes:
    - .:/lunchiatto
