form
  .row
    .columns
      .full-error.panel.hide
        p
  .row
    .large-12.columns
      .row.collapse
        .small-10.large-4.medium-6.columns
          label.email-label
            input.email(type="email",name="email",placeholder="Invite new people!")
            small.error.hide
        .small-2.end.columns
          button.success.button.postfix(type="submit") Invite
