.row
  .columns.small-centered.medium-10.small-12
    h1.large.text-center Hi #{email}!
.row
  .columns.small-centered.medium-10.small-12
    h1.large.text-center Sign up for Lunchiatto
.row
  .columns.small-10.medium-6.small-centered
    a.button.expand.complete-invitation-button(href='#') Complete you signup with Google
