.row
  .columns.small-centered.small-12.medium-8.large-6
    span #{locals.name}:&nbsp;
    if locals.account_balance
      strong#{locals.account_balance}
      | PLN
    else
      | No debt found
    br
    span=locals.account_number || "Number not provided"