.row
  .columns.text-center
    if locals.noOrder
      a.button(href="/orders/new", data-navigate) Add Order
    else
      a.button(href="/orders/#{locals.id}", data-navigate) Today's Order
    a.button.info(href="/orders", data-navigate) Past Orders
