.row
  .columns.text-center
    h1 This is the user dashboard
.order-wrapper
  if locals.noOrder
    .row
      .columns.text-center
        h2 No order for today
  else
    .row.margin-bottom
      .columns.small-10.medium-6.small-centered
        a.button.expand.large(href="/orders/#{locals.id}", data-navigate) TODAY'S ORDER
  .row
    .columns.text-center
      if locals.noOrder
        a.button(href="/orders/new", data-navigate) Add Order
      a.button(href="/orders", data-navigate) Past Orders
