.row.text-center
  .columns
    h1 Edit your account, #{locals.name}
form
  .row
    .columns.fieldset
      label.inline Subtract payments from yourself (this is useful when you maintain a seperate account for payments)
        input.subtract.margin-left-small(type="checkbox",checked=locals.subtract_from_self)
  .row
    .columns.fieldset
      label Account number
        input.account-number(type="text",value=locals.account_number)
  .row
    .columns
      input.expand.success.button(type="submit",value="Update your account")