if dishes.length > 0
  table.responsive.centered
    thead
      tr
        th User
        th Dish
        th Price
        th Action
    tbody
else
  .margin-bottom-medium No one else has been bothered to order.