.order-box.animate__fade-in
  .order-box__restaurant= locals.from
  .order-box__date= moment(locals.date).format('LL')
  .order-box__status.status-label(class="status-label__#{locals.status.replace('_','-')}")
    = locals.status.replace('_', ' ')
