.row.margin-bottom.text-center
  .columns
    h1 These are past orders
.row
  .columns
    table.responsive.centered
      thead
        tr
          th Date
          th Restaurant
          th Status
      tbody
.row.text-center
  .columns
    a.button.info.more(href='#') More