= render partial: 'shared/mailer_header', locals: {name: @user.name}

table.row
  tr
    td.wrapper.last
      table.twelve.columns
        - @balances.each do |balance|
          tr
            td
              h4.padding-bottom You owe #{balance.payer} #{-balance.balance} PLN!
              table.button.margin-bottom
                tr
                  td
                    = link_to "Oi! Send #{balance.payer} a transfer!", transfers_new_url(to_id: balance.payer.id, amount: -balance.balance)
            td.expander
