.row
  .columns.small-8.large-9
    if locals.type === "balances"
      .balance-box__name= locals.payer
    else if locals.type === "debts"
      .balance-box__name= locals.user
    .balance-box__date
      span Last Change:&nbsp;
      = moment(locals.created_at).format('LL')
  .columns.small-4.large-3.text-right
    .balance-box__balance= locals.balance
