.row
  .columns.small-12.medium-8.large-9
    .balance-box__name= locals.adequateUser
    .balance-box__date
      span Last Change:&nbsp;
      = moment(locals.created_at).format('LL')
      if locals.transferLink && +locals.balance < 0
        | &nbsp;
        a(href=locals.transferLink,data-navigate) Send transfer
  .columns.small-12.medium-4.large-3
    .money-box(class=locals.amountClass)= locals.formattedBalance
