.columns.text-center.medium-6
    h2.margin-bottom People owe you #{locals.totalDebt}
    table.responsive.centered.margin-bottom
      thead
        tr
          th Who
          th How Much
          th Last updated
      tbody
