<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <h1>Hi <%= name %>!</h1>
            <% if local_assigns[:subtitle] %>
              <p class="lead"><%= subtitle %></p>
            <% end %>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
