section.orderer
  .margin-bottom-medium.light-weight <strong>#{order.user.name}</strong> pays.
  .margin-bottom-medium.light-weight Ordering from: <strong>#{order.from}</strong>
  .margin-bottom-medium.light-weight Total is: <strong>#{order.amount+order.shipping}</strong>
  .margin-bottom-medium.light-weight Status: <strong>#{order.status.humanize}</strong>
  .margin-bottom-medium= order.summary_buttons