<%= render partial: 'shared/mailer_header', locals: {name: @transfer.to.name} %>
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <h4 class="padding-bottom">
              <%= @transfer.from %> has send you <%= @transfer.amount %> PLN
            </h4>
            <p>
              It's recommended to accept or reject once the money
              actually appears on your account.
            </p>
            <table class="button margin-bottom">
              <tr>
                <td>
                  <%= link_to 'See your transfers to accept or reject', transfers_url %>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
