= render partial: 'shared/mailer_header', locals: {name: @user.name}

table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td
            h4.padding-bottom You have pending transfers!
- @transfers.each do |transfer|
  = render partial: "pending_transfer", locals: {transfer: transfer}
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td
            table.button.margin-bottom
              tr
                td
                  = link_to "See your transfers to accept or reject", app_transfers_url
          td.expander
