<%= render partial: 'shared/mailer_header', locals: {name: @transfer.from.name} %>
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <h4 class="padding-bottom">
              <%= @transfer.to %> has rejected your transfer of <%= @transfer.amount %> PLN.
            </h4>
            <table class="button margin-bottom">
              <tr>
                <td>
                  <%= link_to 'See your transfers to resubmit the transfer', transfers_url %>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
