= render partial: 'shared/mailer_header', locals: {name: @payer.name}

table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td
            h4.padding-bottom Mark today's order as delivered, it's time!
            table.button.margin-bottom
              tr
                td
                  = link_to "Go do it", order_url(@order)
          td.expander
