.chosen-container-single {
  .chosen-single,
  .chosen-drop {
    border-radius: 0;
  }
  .chosen-single {
    height: 35px;
    line-height: 35px;
    background: $white;
  }
}

.chosen-container-active.chosen-with-drop {
  .chosen-single {
    background: $white;
  }
}