.index {
  .logo {
    background-image: image-url('cq-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 300px;
    width: 294px;
    margin: 0 auto;
  }
}