.dishes-list {
  list-style: none;
  margin: 0;
}

.dishes-list__item {
  margin-bottom: 1.5rem;
}

.dishes-list__footer {
  line-height: 1.5rem;
}

.dishes-list__user {
  color: $monsoon;
}

.dishes-list__dish-name-price {
  font-size: 1.5rem;
  line-height: 2rem;
}
