.full-order {
  text-align: center;
}

.full-order__restaurant,
.full-order__total {
  font-size: 3rem;
  font-weight: lighter;
  line-height: 4rem;
}

.full-order__status-row {
  line-height: 4rem;
}

.full-order__status {
  font-size: 1.5rem;
  position: relative;
  top: .5rem;
}

.full-order__payer {
  line-height: 2rem;
  margin-bottom: 1rem;
}

.full-order__buttons {
  line-height: 4rem;
  margin-bottom: 1rem;
  visibility: top;

  .button {
    margin: 0;
  }
}

.full-order__shipping {
  font-size: 1rem;
  line-height: 1.5rem;
}
