.money-box {
  background: $gray;
  color: $white;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: .5rem 1rem;

  @media #{$small-only} {
    margin-top: .5rem;
  }

  &.money-box--negative {
    background: $warning-color;
  }

  &.money-box--positive {
    background: $success-color;
  }
}
