.order-box {
  @include single-transition(all, $animation-duration-medium);
  padding: 10px;
  text-align: center;

  &:hover {
    background-color: $snow;
  }
}

.order-box__date {
  color: $monsoon;
  font-size: .75rem;
}
