.users-list__item {
  border-left: 4px solid $blue;
  margin-bottom: .5rem;
  padding-left: 8px;
}

.users-list__item--admin {
  border-left-color: $green;
}

.users-list__admin-text {
  color: $gray;
  text-transform: uppercase;
}
