@import 'mixins';

body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: #ffffff;
}

.background-div {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}

label {
  color: white;
  font-size: 18px;
  margin-bottom: 12px;
}

.margin-right-small {
  margin-right: 8px;
}

.margin-left-small,
input[type='checkbox'].margin-left-small {
  margin-left: 8px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-medium {
  margin-bottom: 15px;
}

.inline {
  display: inline;
}

a.unhanded {
  cursor: default;
}

@media only screen and (min-width: 767px) {
  .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}