h1 New order
form
  label Payer
  select(data-js="user_id")
    option(value="1") Ania
    option(value="2") Mikołaj
  label Restaurant
  input(data-js="from", placeholder="Where are we ordering from?", type="text")
  button(data-js="createOrder").button Create Order
a.close-reveal-modal ×
