.row
  .columns.small-centered.medium-10.small-12
    h1.large.text-center Lunchiatto
.row
  .columns.small-10.medium-6.small-centered
    a.button.expand.google-sign-up(href='#') Sign in with your Google account
