.row.text-center
  .columns
    h1 Time to pay!
form
  .row
    .columns
      .full-error.panel.hide
        p
  .row
    .columns
      label.to-label To
        select.user-id(name='to_id')
          option(value='') Select Destination
          each user in gon.users_for_select
            option(value=user.id,selected=user.id==locals.to_id)=user.name
        small.error.hide
  .row
    .columns
      label.amount-label Transfer Amount (should be positive)
        input.amount(type="text",autocomplete="off",placeholder="0.00",value=locals.amount)
        small.error.hide
  .row
    .columns
      input.success.expand.button(type="submit",value="Submit Transfer")
