.columns.medium-6
  .row
    .columns.small-12
      h2.margin-bottom #{Humanize.capitalize(locals.type)} Transfers
  .row
    .large-centered.columns
      select.user-id(name='user_id')
        option(value='') All Users
        each user in usersForSelect
          option(value=user.id,selected=user.id==locals.selectedUser)=user.get("name")
  .transfers
  .row.text-center
    .columns
      a.button.info.more(href='#') More
