.row
  .large-offset-4.small-12.large-4.columns
    select.user-id(name='user_id')
      option(value='') All Users
      each user in gon.users_for_select
        option(value=user.id,selected=user.id==locals.selectedUser)=user.name
table.responsive.centered.margin-bottom
  thead
    tr
      if locals.type === 'received'
        th From
      else
        th To
      th Amount
      th Submitted
      th Status
      if locals.type === 'received'
        th Action
  tbody
a.button.info.more(href='#') More