h1 This is the user dashboard
.order-wrapper
  a.button Past Orders
  section.orderer
    .margin-bottom-medium.light-weight Ania pays.
    .margin-bottom-medium.light-weight Ordering from: Zenek
    .margin-bottom-medium.light-weight Total is: 100.00
    .margin-bottom-medium.light-weight Status: In progress
    .margin-bottom-medium
      a.button Change payer
      a.button Mark as ordered
    .margin-bottom-medium You haven't ordered anything yet
    a.button(data-js="addDish") Click here to order
    .margin-bottom-medium No one else has been bothered to order.

#dishModal.reveal-modal(data-reveal="")
