doctype strict
html xmlns="http://www.w3.org/1999/xhtml"
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width"
    = stylesheet_link_tag 'mailer'
body
  table.body
    tr
      td.center align="center" valign="top"
        center
          table.row.header
            tr
              td.center align="center"
                center
                  table.container
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.six.sub-columns
                              span.logo Lunchiatto
                            td.six.sub-columns.last align="right" style="text-align:right; vertical-align:middle;"
                            td.expander
          br
          table.container
            tr
              td
                = yield
